{% extends 'anki/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block namepage %}
    <h1>Главная страница</h1>

{% endblock %}

{% block content %}
    <p>Добро пожаловать, Уважаемый гость! Приветствую тебя на сайте по созданию "Карточек для запоминания"! </p><br>
    <p>На второй странице сайта Вы можете посмотреть записанные карточки. </p><br>
    <p>На третьей странице сайта Вы можете добавить новые карточки. </p><br>
    <p>На странице Администратора (логин: admin и пароль: admin) можно удалить карточки, которые Вам не нужны.</p><br>
    <p>!!!Перед тем, как сайт разместить в интернете логин, пароль и ссылку на Администратора нужно удалить!!!</p>
{% endblock %}

